.pb-tab {
    width: 100%;
    margin: 10px 10px 0 10px;
    padding: 0;

    > li {
        display: inline-block;
    }
}

.pb-tab-item {
    display: block;
    padding: 8px 12px;
    text-align: center;
    font-size: 14px;
    width: 60px;
    border: solid 1px #ccc;
    border-bottom: none;
    color: #333;
    cursor: pointer;

    &.active {
        background: #64c6ea;
    }
}

.pb-tab-contents {
    border-top: solid 1px #ccc;

    &.hidden {
        display: none;
    }
}

